<!DOCTYPE html>
{% load staticfiles %}

<html>
  <head lang="en">
	<link rel = "stylesheet" href = "{%static 'css\theme.css' %}">
	
	<meta charset="UTF-8"/>
    

    <title>
      The Pantry -
      {% block title_block %}
        Recipes for everyone!
      {% endblock %}
    </title>

</head>

  <body>
	<div class="header">
	<img src= {%static 'logo.jpg' %} alt="logo" width="200" height="200">
	<h1> The Pantry</h1>
	
	</div>
	<button class="button button1">Log In</button>
	


	<div class = "task-bar">
	<ul>
  		<li><a class="active" href="{% url 'home'%}">Home</a></li>
  		<li><a href="{% url 'trending'%}">Trending</a></li>
 		<li><a href="{% url 'categories'%}">Categories</a></li>
		<li><a href="{%url 'favourites'%}">Favourite</a></li>
		<li><a href="{%url 'profile'%}">Profile</a></li>
	</ul>
	</div>
      {% block body_block %}
      	
      <!-- Page specific content here -->
      {% endblock %}
  </body>
</html>
